<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            {% include cms_atom('sidebar-item') with {
            icon: 'line-chart',
            label: '_dashboard'|trans,
            href: path('cms_dashboard_default'),
            } %}

            {# Uzivatele #}
            {% include cms_atom('sidebar-item') with {
            icon: 'users',
            label: '_users'|trans,
            href: path('cms_user_default')
            } only %}

            {# Uzivatele #}
            {% include cms_atom('sidebar-item') with {
            icon: 'folder-open',
            label: '_projects'|trans,
            href: path('cms_project_default')
            } only %}

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->