{% extends '@CmsTemplate/main.html.twig' %}

{% block content %}

    {% include cms_atom('heading-row') with {label: 'Dashboard'} only %}


    <div class="row">
        <div class="col-lg-8">

            {% for project in projects %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ project.name }}
                    </div>
                    <div class="panel-body">
                        {% for env in project.projectEnvironments %}
                            <div class="row">

                                <div class="col-lg-6">{{ env.name }}</div>
                                <div class="col-lg-6">
                                    <a href='{{ path('cms_deployment_deploy', { envId: env.id }) }}'
                                       class='btn  btn-default  btn-primary btn-xs'>deploy</a>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>


        <div class="col-lg-4">
            <div class="panel {% if hdd %}{% if hdd.used_percentage < 90 %}panel-green{% else %}panel-red{% endif %}{% else %}panel-yellow{% endif %}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center">FREE SPACE</div>
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            {% if hdd %}
                                <div class="huge">{{ hdd.used_percentage }}%</div>
                                <div>free: {{ hdd.free }} / total: {{ hdd.total }}</div>
                            {% else %}
                                <div class="huge">NaN</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}