<ul class="nav navbar-top-links navbar-right">

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user-circle-o fa-fw"></i>
            {#{{ service('context').user.email }}#}
            {{ app.user }}
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            {#<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>#}
            {#<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>#}

            {#<li class="divider"></li>#}
            <li>
                <a href="{{ path('cms_authentication_logout') }}"><i class="fa fa-sign-out fa-fw"></i> {{ 'logout'|trans }}</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->