{% set paginationLimit = 3 %}

{% if pagination.pageCount > 1 %}

    <ul class="pagination">

        {# PREV #}
        {% include("@DataTableTemplate/pagination-item.html.twig") with {
            class: ( pagination.page <= 1  ? " disabled " : "") ~ " previous ",
            page:  pagination.page - 1 < 1 ? 1 : pagination.page - 1,
            label:  'datatable.paginator.prev'|trans
        } only %}

        {# FIRST #}
        {% include("@DataTableTemplate/pagination-item.html.twig") with {
            class: ( pagination.page == 1  ? " active " : ""),
            page:  1,
            label:  1
        } only %}

        {% if pagination.pageCount > paginationLimit %}
            {% if pagination.page  < paginationLimit %}

                {# SEC #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: ( pagination.page == 2  ? " active " : ""),
                    page:  2,
                    label:  2
                } only %}

                {# THIRD #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: ( pagination.page == 3  ? " active " : ""),
                    page:  3,
                    label:  3
                } only %}

                {# SEPARATOR #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: " disabled",
                    label:  '...'
                } only %}

            {% elseif pagination.page  > pagination.pageCount - paginationLimit + 1 %}

                {# SEPARATOR #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: " disabled",
                    label:  '...'
                } only %}

                {# LAST - 2 #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: ( pagination.page == pagination.pageCount - 2  ? " active " : ""),
                    page:  pagination.pageCount - 2,
                    label:  pagination.pageCount - 2
                } only %}

                {# LAST - 1 #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: ( pagination.page == pagination.pageCount - 1  ? " active " : ""),
                    page:  pagination.pageCount - 1,
                    label:  pagination.pageCount - 1
                } only %}


            {% else %}

                {% if pagination.page > paginationLimit %}
                    {# SEPARATOR #}
                    {% include("@DataTableTemplate/pagination-item.html.twig") with {
                        class: " disabled",
                        label:  '...'
                    } only %}
                {% endif %}

                {# CURRENT PAGE -1 #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: "",
                    page:   pagination.page - 1,
                    label:   pagination.page - 1
                } only %}

                {# CURRENT PAGE #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: " active ",
                    page:   pagination.page,
                    label:   pagination.page
                } only %}

                {# CURRENT PAGE +1 #}
                {% include("@DataTableTemplate/pagination-item.html.twig") with {
                    class: "",
                    page:   pagination.page + 1,
                    label:   pagination.page + 1
                } only %}

                {% if pagination.page  < pagination.pageCount - paginationLimit + 1 %}
                    {# SEPARATOR #}
                    {% include("@DataTableTemplate/pagination-item.html.twig") with {
                        class: " disabled",
                        label:  '...'
                    } only %}
                {% endif %}

            {% endif %}

        {% else %}
            {% for i in 2..paginationLimit %}

                {% if i < pagination.pageCount %}

                    {% include("@DataTableTemplate/pagination-item.html.twig") with {
                        class: ( pagination.page == i ? " active " : ""),
                        page:   i,
                        label:   i
                    } only %}

                {% endif %}

            {% endfor %}

        {% endif %}


        {# LAST #}
        {% include("@DataTableTemplate/pagination-item.html.twig") with {
            class: ( pagination.page == pagination.pageCount  ? " active " : ""),
            page:  pagination.pageCount,
            label:  pagination.pageCount
        } only %}

        {# NEXT #}
        {% include("@DataTableTemplate/pagination-item.html.twig") with {
            class: ( pagination.page >= pagination.pageCount  ? " disabled " : "") ~ " next ",
            page:  pagination.page+1 <= pagination.pageCount ? pagination.page+1 : pagination.page,
            label:  'datatable.paginator.next'|trans
        } only %}

    </ul>

{% endif %}