{% extends '@CmsTemplate/main.html.twig' %}

{% block content %}

    {% include cms_atom('heading-row') with {label: heading} only %}

    <div class="row">

        <div class="col-md-10">

            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form(form) }}


            {% if notes %}
                {% for noteKey,note in notes %}
                    <div>
                        <strong>{{ noteKey }}</strong>
                        <pre>{{ note }}</pre>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>

{% endblock %}