.datatable .pagination {
    float: right;
    margin: 0;
}

.datatable .search {
    text-align: right;
}

.datatable-content {
    position: relative;
}

.datatable-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    visibility: hidden;
    opacity: 0;
}

.datatable-blocker-spinner {

    animation-name: spin8;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

@keyframes spin8 {

    0% {
        transform: rotate(0);
    }
    12.5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.5% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.5% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.datatable [data-role='datatable-order'] {
    cursor: pointer;
}