{% extends '@CmsTemplate/main.html.twig' %}

{% block content %}

    {% include cms_atom('heading-row') with {label: 'deploymentResult'} only %}

    <div class="row">

        {% if result %}
            {% for rk,r in result %}

{{ dump(rk) }}
{{ dump(r) }}
                {#<div>#}
                    {#<strong>{{ resultKey }}</strong>#}
                    {#<pre>{{ result }}</pre>#}
                {#</div>#}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}